:root {
	--font-family:
		Public Sans, 'Public Sans Fallback: Arial', ui-sans-serif, system-ui,
		sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
		Noto Color Emoji;

	--font-weight--light: 300;
	--font-weight--regular: 400;
	--font-weight--bold: 600;

	--header-height: 5rem;
}

html,
body {
	background-color: var(--everglow-background-color);
}

.everglow-dark-mode .shiki {
	background: #2e3440;
}

.everglow-dark-mode .shiki,
.everglow-dark-mode .shiki span {
	color: var(--shiki-dark) !important;
}

.everglow-light-mode .shiki {
	background-color: #f8f8f2;
}

.everglow-light-mode .shiki,
.everglow-light-mode .shiki span {
	color: var(--shiki-light) !important;
}

/* ----------------- Vue Transition ----------------- */

// expand
.expand-leave-active,
.expand-enter-active {
	transition: all 0.2s ease;
}

.expand-enter-from,
.expand-leave-to {
	max-height: 0;
}

// bottom
.bottom-enter-active,
.bottom-leave-active {
	transition: all 0.2s ease-in-out;
}

.bottom-enter-from,
.bottom-leave-to {
	transform: translateY(-10px);
	opacity: 0;
}
