:root .markdown {
	--spacing: 0.25rem;
}

.markdown * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;

	&::selection {
		color: default;
	}
}

.markdown button,
.markdown input {
	border: none;
	background: none;
	box-shadow: none;
}

.markdown button:focus,
.markdown input:focus {
	outline: none;
}

.markdown :focus-visible {
	outline: none;
}

.markdown {
	font-family: var(--crepe-font-default);
	color: var(--crepe-color-on-background);
	background: var(--crepe-color-background);
}

.markdown-focused {
	outline: none;
}

.markdown ::-moz-selection {
	background: var(--crepe-color-selected);
}

.markdown ::selection {
	background: var(--crepe-color-selected);
}

.markdown li::selection {
	background: var(--crepe-color-selected);
	outline: none;
}

.markdown[data-dragging='true'] ::-moz-selection,
.markdown[data-dragging='true']::-moz-selection {
	background: transparent;
}

.markdown[data-dragging='true'] ::selection,
.markdown[data-dragging='true']::selection {
	background: transparent;
}

.markdown[data-dragging='true'] input::-moz-selection {
	background: var(--crepe-color-selected);
}

.markdown[data-dragging='true'] input::selection {
	background: var(--crepe-color-selected);
}

.markdown img {
	max-width: 100%;
}

.markdown p > img {
	border-radius: 0.5rem;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
	font-family: var(--crepe-font-title);
	font-weight: 400;
	padding: 2px 0;
	position: relative;
	line-height: 1.5;
	outline: none;

	scroll-margin-top: calc(48px + var(--header-height));

	* {
		text-decoration: none !important;
	}

	&::before {
		content: '#';
		position: absolute;
		left: -2rem;
		opacity: 0;
		transition: all 0.3s ease-in-out;
		color: currentColor;
	}

	&:hover::before {
		opacity: 1;
	}
}

.markdown h1 {
	margin: 3rem 0 3rem;
	font-size: 36px;
	line-height: 1.4;
	letter-spacing: -0.02em;
}

.markdown h2 {
	margin: 4rem 0 1.8rem;
	border-top: 1px solid var(--everglow-trans-black-3);
	padding-top: 1.8rem;
	font-size: 30px;
	letter-spacing: -0.02em;
}

.markdown h3 {
	font-size: 26px;
	letter-spacing: -0.01em;
	margin: 3rem 0 1.25rem;
}

.markdown h4 {
	font-size: 22px;
	margin: 1.8rem 0 1rem;
}

.markdown h5 {
	font-size: 18px;
}

.markdown h6 {
	margin-top: 16px;
	font-size: 14px;
}

.markdown p {
	font-size: 16px;
	line-height: 24px;
	padding: 4px 0;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown summary {
	margin-bottom: 1.2rem;
}

.markdown code {
	color: var(--crepe-color-inline-code);
	background: color-mix(
		in srgb,
		var(--crepe-color-inline-area),
		transparent 40%
	);
	font-family: var(--crepe-font-code);
	padding: 0 10px;
	border-radius: 4px;
	font-size: 87.5%;
	display: inline-block;
	line-height: 1.4286;
}

.markdown h1 code,
.markdown h2 code,
.markdown h3 code,
.markdown h4 code,
.markdown h5 code,
.markdown h6 code {
	color: var(--crepe-color-inline-code) !important;
	background: color-mix(
		in srgb,
		var(--crepe-color-inline-area),
		transparent 40%
	);
	font-family: var(--crepe-font-code);
	padding: 0 10px;
	border-radius: 4px;
	font-size: 87.5%;
	display: inline-block;
	line-height: 1.4286;
}

.markdown code::-moz-selection {
	background: color-mix(
		in srgb,
		var(--crepe-color-inline-area) 80%,
		var(--crepe-color-outline) 80%
	);
}

.markdown code::selection {
	background: color-mix(
		in srgb,
		var(--crepe-color-inline-area) 80%,
		var(--crepe-color-outline) 80%
	);
}

.markdown a,
.markdown a code {
	color: var(--crepe-color-primary);
	text-decoration: underline;
}

.markdown pre {
	background: color-mix(
		in srgb,
		var(--crepe-color-inline-area),
		transparent 40%
	);

	padding: 0;
	display: flex;
}

.markdown pre code {
	padding-block: calc(var(--spacing) * 6);
	padding-inline: calc(var(--spacing) * 8);
	background: transparent;
}

.markdown .shiki {
	padding: 0;

	span {
		font-size: 1.125rem;
	}
}

.markdown blockquote {
	position: relative;
	padding-left: 40px;
	padding-top: 0;
	padding-bottom: 0;
	box-sizing: content-box;
	margin: 4px 0;
}

.markdown blockquote:before {
	content: '';
	width: 4px;
	left: 0;
	top: 4px;
	bottom: 4px;
	position: absolute;
	background: var(--crepe-color-quote);
	border-radius: 100px;
}

.markdown blockquote hr {
	margin-bottom: 16px;
}

.markdown hr {
	border: none;
	background-color: color-mix(
		in srgb,
		var(--crepe-color-outline),
		transparent 80%
	);
	background-clip: content-box;
	padding: 6px 0;
	height: 13px;
	position: relative;
}

.markdown ol,
.markdown ul {
	padding: 0;
}


.markdown {
	padding: 0 0.75rem;
}


.markdown {
	position: relative;
	word-wrap: break-word;
	white-space: pre-wrap;
	white-space: break-spaces;
	font-variant-ligatures: none;
	font-feature-settings: 'liga' 0;
}

.markdown pre {
	white-space: pre-wrap;
}

.markdown li {
	position: relative;
	padding: 4px 0;
	padding-left: 40px;
	font-size: 16px;

	&::before {
		content: '·';
		position: absolute;

		left: 15px;
		top: -4px;
		font-weight: var(--font-weight--bold);
		font-size: 30px;
	}
}

.markdown .tableWrapper {
	overflow-x: auto;
}

.markdown table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	overflow: hidden;
	margin: 4px 0;

	td,
	th {
		vertical-align: top;
		box-sizing: border-box;
		position: relative;

		font-size: 16px;
		line-height: 24px;

		border: 1px solid
			color-mix(in srgb, var(--crepe-color-outline), transparent 80%);
		padding: 8px 16px;
	}

	th {
		text-align: left;
	}
}
