:root {
	--font-family: Public Sans, 'Public Sans Fallback: Arial', ui-sans-serif,
		system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
		Noto Color Emoji;
}

/* Reset default CSS styles for all elements */
* {
	box-sizing: border-box;
}

html {
	font-family:
		Public Sans,
		'Public Sans Fallback: Arial',
		ui-sans-serif,
		system-ui,
		sans-serif,
		Apple Color Emoji,
		Segoe UI Emoji,
		Segoe UI Symbol,
		Noto Color Emoji;
	font-size: 12px;
	color: var(--everglow-font-color-3);
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--everglow-font-color-3);
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

:focus {
	outline: none;
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--everglow-blue-5) var(--everglow-trans-white-9);
}

button,
select {
	font-family: inherit;
	text-decoration: none;
}

button {
	padding: 0;
	margin: 0;
	appearance: button;
	-webkit-appearance: button;
	background-color: initial;
	background-image: none;
	border: none;
	cursor: pointer;
	text-transform: none;
}

*::selection {
	background-color: var(--everglow-trans-blue-2);
	color: var(--everglow-blue-5);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
	display: block;
}
